a {
  text-decoration: none;
  color: black;
}

img { 
  padding-top: 1rem;
  filter: grayscale(100%);
}

a:hover>img { 
  filter: grayscale(0%);
}

p {
  font-family: 'Noto Serif SC', serif;
}

.card {
  display: block;
  padding : 10px 5px;
  margin: 5px;
  border-bottom: 1px solid black;
  flex-direction: column;
  font-family: 'Noto Serif SC', serif;
}

.source {
  text-align: right;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Noto Serif SC', serif;
  margin: 0.5rem 0;
}

.source::first-letter{
  font-size: 2rem;
  font-family: 'Deutsch Gothic', 'Noto Serif SC', serif;
  text-transform: capitalize;
}

.dateTime {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  line-height: 1.3rem;
  font-weight: bold;
}

.dateTime>p {
  margin: 0;
}

.time {
  text-align: end;
}

.description {
  text-decoration: none;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: bolder;
  font-family: 'Noto Serif SC', serif;
}

.description::first-letter{
  font-size: 2rem;
  font-family: 'Noto Serif SC', serif;
  letter-spacing: 0.2rem;
}

a:hover>.description::first-letter {
  font-size: 2.2rem;
}