@font-face {
  font-family: 'Deutsch Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/DeutschGothic.ttf'); /* IE9 Compat Modes */
  src: local('Deutsch Gothic'),
       url('../../fonts/DeutschGothic.ttf') format('truetype'), /* Safari, Android, iOS */
}

.control-panel {
  display: flex;
  flex-direction: row;
}

