.App {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 25px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
 
}

.App-link {
  color: #09d3ac;
}
